@use "../../styles/color" as *;
@use "../../styles/responsive" as *;
@use "../../styles/mixins" as *;


.about {
  font-family: "Roboto Slab", serif;
  background-color: #37393e;

  &__heading{
    color: $secondary-text;
    position: relative;
    padding-left: 13px;
    width: 187px;
    margin: 8px 0 12px 15px;
    font-size: 33px;
    border-bottom: 2px solid $secondary-text;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    
  }

  &__text-content {
    width: 277px;
    padding-left: 13px;
  }

  &__text {
    color: white;
    width: 208px;
    font-size: 16px;
    // position: relative;
  }
}
  //   position: absolute;
  //   top: 195px;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   overflow-y: scroll;
  //   z-index: 1;
  // }
  
  
  
  
  
// ----ORIGINAL
// .about{
//     // height: 100vh;
//     overflow-y: scroll;
// }

// .about__heading {
//   color: white;
//   position: relative;
// //   z-index: 30;
// }

// .about__text-container {
//   display: flex;
//   flex-direction: column;
//   gap: 28px;
// //   position: absolute;
// //   top: 286px;
// //   overflow-y: scroll;
//     //   max-height: 400px;
 

// }

// .about__text-content {
//   border: 2px solid yellow;
//   width: 277px;
// }

// .about__text {
//   color: white;
//   position: relative;
// }
