@use "../../styles/color" as *;
@use "../../styles/responsive" as *;
@use "../../styles/mixins" as *;

// .background{
//   height: 100vh;
//     width: 100vw;
//     background-color: rgb(0 0 0);
//     position: relative;

//     &::before {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: 0;
//       background-color: rgb(0 0 0 / 66%);
//       background-image: linear-gradient(
//         to top,
//         rgb(102 51 153 / 23%),
//         transparent
//       );
//       height: calc(100% + 100vh); /* adjusts the height of the pseudo-element */
//       width: 100%;
//     }
// }

.about {
  // @include background-image;


  // overflow-x: hidden;
  // background-image: url("../../assets/images/portfolio-img.jpeg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // height: 100vh;
  // width: 100vw;
  // background-position-x: 0%;
  // background-color: rgb(0 0 0);
  // position: relative;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   background-color: rgb(0 0 0 / 81%);
  //   background-image: linear-gradient(
  //     to top,
  //     rgb(102 51 153 / 23%),
  //     transparent
  //   );
  //   height: calc(100% + 100vh); /* adjusts the height of the pseudo-element */
  //   width: 100%;
  // }






  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   background-color: rgb(0 0 0 / 71%);
  //   background-image: radial-gradient(
  //     circle at top left,
  //     rgb(102 51 153 / 36%),
  //     transparent
  //   );
  //   height: 100vh;
  //   width: 100%;
  // }

  &__heading{
    color: $secondary-text;
    position: relative;
    padding-left: 13px;
    width: 187px;
    margin: 8px 0 12px 15px;
    font-size: 33px;
    border-bottom: 2px solid $secondary-text;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    margin-bottom: 10px;
  }

  &__text-content {
    width: 277px;
    padding-left: 13px;
  }

  &__text {
    color: white;
    width: 208px;
    font-size: 16px;
    // position: relative;
  }
}
  //   position: absolute;
  //   top: 195px;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   overflow-y: scroll;
  //   z-index: 1;
  // }
  
  
  
  
  
// ----ORIGINAL
// .about{
//     // height: 100vh;
//     overflow-y: scroll;
// }

// .about__heading {
//   color: white;
//   position: relative;
// //   z-index: 30;
// }

// .about__text-container {
//   display: flex;
//   flex-direction: column;
//   gap: 28px;
// //   position: absolute;
// //   top: 286px;
// //   overflow-y: scroll;
//     //   max-height: 400px;
 

// }

// .about__text-content {
//   border: 2px solid yellow;
//   width: 277px;
// }

// .about__text {
//   color: white;
//   position: relative;
// }
