$navbar-background: rgb(144 58 112 / 95%);
$main-text: #f9f9f9;
$curser: rgb(139 195 74 / 67%);
$secondary-text: #9ec759;
$faded-main-text: rgb(249 249 249 / 56%);
$icon-background: #bde973;
$border-bottom: #4caf5045;
$footer-background: grey;