@use "./color" as *;
@use "./responsive" as *;

//---- Mobile text display ----
@mixin overlay-text{
    color: $main-text;
    margin-top: 4px;
    width: 266px;
    font-size: 14px;
}

@mixin overlay-buttons{
    color: $main-text;
    margin-top: 12px;
    cursor: pointer;
    padding: 0.5em 0.75em;
    background-color: $secondary-text;
    border:none;
    border-radius: 2px;
    box-shadow: 0 4px 16px -4px rgb(0 0 0 / 71%),
      0 1px 4px -1px rgb(0 0 0 / 14%);

      &:hover {
        transform: scale(1.1);
        background-color: #4f525b;
      }

    // text-align: center;
    // width: 57px;
    // background-color: white;
    // color: black;
    // font-weight: bold;
    // margin-top: 7px;
    // cursor: pointer;
    // border: 1px solid $secondary-text;
    // height: 31px;
    // border-radius: 2px;
    // box-shadow: 0 4px 16px -4px rgb(0 0 0 / 71%),
    // 0 1px 4px -1px rgb(0 0 0 / 14%);
}

@mixin overlay-color-heading{
    margin-top: 5px;
    background-clip: text;
    color: transparent;
}

@mixin background-image{
    overflow-x: hidden;
    background-image: url("../../assets/images/portfolio-img.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-x:  -38%;

    @include tablet {
        background-size: contain;
        background-position-x: 409px;
        background-position-y: -49px;
    }
}
