@use "../../styles/color" as *;
@use "../../styles/responsive" as *;
@use "../../styles/mixins" as *;

.contact {
  font-family: "Roboto Slab", serif;
  background-color: #37393e;
  padding-bottom: 7.5rem;
  // height: 100vh;

  @include tablet{
    // height: 70vh;
  }
  

  &__heading-container {
    padding: 16px 22px;
    margin: auto;
    max-width: 420px;
  }

  &__heading {
    font-family: "Muli", sans-serif;
    color: $main-text;
  }

  &__sub-heading {
    font-family: "Muli", sans-serif;
    color: $main-text;
    margin-top: 8px;
  }

  &__form {
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 48px 22px 0 22px;
  }

  &__input {
    font-family: "Muli", sans-serif;
    border: none;
    border-bottom: 2px solid #9ec75940;
    font-size: inherit;
    background: none;
    color: $main-text;
    padding: 10px;
    font-weight: bold;
    cursor: text;
    outline: 0;

    &::placeholder {
      color: #69756a;
    }
  }

  &__textarea {
    font-family: "Muli", sans-serif;
    resize: none;
    border: none;
    border-bottom: 2px solid #9ec75940;
    font-size: inherit;
    background: none;
    color: $main-text;
    padding: 10px;
    font-weight: bold;
    cursor: text;
    outline: 0;
    position: relative;

    &::placeholder {
      color: #69756a;
    }
  }

  &__button {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    align-self: flex-end;
    border: none;
    background-color: $secondary-text;
    color: $main-text;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      background-color: #4f525b;
    }

    @include tablet {
      width: 85px;
      height: 33px;
      font-size: 16px;
    }
  }

  //   &__success {
  //     color: $main-text;
  //     position: relative;
  //   }

  &__error {
    color: #f44336;
    position: relative;
    width: 250px;
    margin: auto;
  }
}
