@use "../../styles/color" as *;
@use "../../styles/responsive" as *;

.navigation{
    // rgb(39 4 58 / 93%);

    background-color: #330a33fc;
    height: 70px;
    display: flex;
    @include tablet {
        
        justify-content: flex-end;
        gap: 35px;
        padding-right: 30px;
        align-items: center;
    }

    &__links{
        @include mobile {
            display: none;
        }
        @include tablet{
            text-decoration: none;
            color: $main-text;
            display: flex;
            align-items: center;
            cursor: pointer;
            z-index: 20;
            font-size: 20px;

            @include desktop{
                font-size: 24px;
            }

            &:hover{
                // color: #330a33fc;
                color: $secondary-text;
                border-bottom: 3px solid $secondary-text;
                padding-bottom: 4px;
            }
           
        }
           
    }
}

