@use "../../styles/color" as *;
@use "../../styles/mixins" as *;

.project-card {
  position: relative;

  &__image {
    width: 100%;
    cursor: pointer;
  }

  
}

.overlay {
    animation: zoomIn 0.6s ease-in-out;
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
    // animation: fadeInUp 0.6s ease-in-out;
//   animation: slideIn 0.6s ease-in-out;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(26, 10, 33, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;

  &__content {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 272px;
  }

  &__text {
    @include overylay-text;
  }

  &__details{
    @include overylay-text;
  }

//   &__title {
//     color: $main-text;
//   }

  &__button-container{
    display: flex;
    justify-content: space-between;
    width: 131px;
  }

  &__view-button{
    @include overlay-buttons;
    }

  &__close-button {
    @include overlay-buttons;
  }

  
}

.overlay.open {
  visibility: visible;
  border: 2px solid #aaa1a1;
}

.card:nth-of-type(1) {
  order: 5;
  background-color: #1a011a;
}
.card:nth-of-type(2) {
  order: 6;
  background-color: rgb(17 0 23);
}
.card:nth-of-type(3) {
  order: 1;
  background-color: #1a011a;
}
.card:nth-of-type(4) {
  order: 3;
  background-color: #1a011a;
}
.card:nth-of-type(5) {
  order: 4;
  background-color: rgb(17 0 23);
}
.card:nth-of-type(6) {
  order: 2;
  background-color: rgb(17 0 23);
}

.bandsite {
    margin-top: 5px;
    color: #8E3C83;
  }

.brainflix{
    margin-top: 5px;
    color: #0095ff;
}
  
.googleAccess{
   @include overylay-color-heading;
    background-image: linear-gradient(to right,
    #4285f4 6%,
    #ea4335 8%,
    #fbbc05 16%,
    #4285f4 19%,
    #34a853 25%,
    #ea4335 26%,
    #ffffff 35%
    );
    }

.travelSite{
    margin-top: 5px;
    color: #ce8c47;
}  

.instock{
    margin-top: 5px;
    color: #004aad;
    
}

.oceanside{
    @include overylay-color-heading;
    background-image: linear-gradient(to right,
    #ffffff 41%,
    #95e90e 50%
    );
  }

  @keyframes zoomIn {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

//   @keyframes slideIn {
//     from {transform: translateY(100%); opacity: 0;}
//     to {transform: translateY(0); opacity: 1;}
//     }

//   @keyframes appear {
//     from {opacity: 0;}
//     to {opacity: 1;}
//     }

// @keyframes fadeIn {
//     from {background: rgba(0, 0, 0, 0);}
//     to {background: rgba(0, 0, 0, 0.8);}
//   }