@use "../../styles/color" as *;
@use "../../styles/responsive" as *;

//--- THIS IS THE CODE YOU WANT!!
.home {
//   background-image: url("../../assets/images/portfolio-img.jpeg");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   height: 100vh;
//   width: 100vw;
//   background-position-x: 0%;

//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-color: rgba(0, 0, 0, 0.5);
//     background-image: radial-gradient(circle at top left,rgba(102,51,153,.25),transparent);
//     height: 100vh;
//     width: 100%;
//   }

  &__text-container {
    padding: 20px 0 0 0;
    margin: 0 18px;
  }

  &__text {
    position: relative;
    // color: #59a8d6;
    color: #9ec759;
    font-size: 28px;
    font-weight: 300;
  }

  &__subheading-container {
    margin-top: 6px;
  }

  &__subheading {
    color: $main-text;
    position: relative;
    font-size: 16px;
    text-align: left;
    font-weight: 300;
  }

  &__paragraph{
    color: $main-text;
    position: relative;
    font-size: 10px;
    width: 190px;
    margin-top: 10px;
    line-height: 14px;

  }
}
