@use "../../styles/color" as *;
@use "../../styles/responsive" as *;
@use "../../styles/mixins" as *;

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  border-right: 0.15em solid $main-text;

  /* Typing effect */
  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    @include tablet {
      width: 22.375rem;
    }
  }
}

/* Typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $main-text;
  }
}

.home {
  font-family: "Roboto Slab", serif;
  background-color: #37393e;
  position: relative;
  padding-bottom: 3.5rem;
 

 
  &__memoji-container {
    display: flex;
    justify-content: center;
  }

  &__memoji {
    background-image: url("../../assets/images/portfolio-img.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: 50%;
    width: 7.1875rem;
    height: 7.1875rem;
    margin: 0.5rem auto;
    border-radius: 50%;
    border: 1px solid $secondary-text;

    @include tablet {
      position: absolute;
      top: 0.875rem;
      background-position-y: 40%;
      width: 10.1875rem;
      height: 10.1875rem;
    }
  }

  &__container {
    padding: 2.5625rem 0.875rem 1.1875rem;
    opacity: 1;
    transition: opacity 0.5s;
    max-width: 44.5rem;
    margin: auto;

    @include tablet {
      padding: 2.5625rem 1.1875rem 1.1875rem;
    }
  }

  &__heading-container {
    width: 17.5rem;
    margin: auto;

    @include tablet {
      width: 25rem;
      padding-bottom: 6.25rem;
    }
  }

  &__text-typewriter {
    display: flex;
    justify-content: center;

    @include tablet{
      margin-left: 32px;
    }
    
  }

  &__text {
    color: $secondary-text;
    font-size: 1.6875rem;
    font-weight: 400;
    width: 17.0625rem;
    margin-left: 0.5rem;
    font-family: "Muli", sans-serif;

    @include tablet {
      width: 22.375rem;
      font-size: 2.25rem;
    }
  }

  &__subheading-container {
    margin-top: 0.375rem;
    display: flex;
    flex-direction: column;

    @include tablet {
      gap: 0.1875rem;
      width: 43.0625rem;
      margin: auto;
    }
  }

  &__subheading {
    color: $main-text;
    font-family: "Muli", sans-serif;
    font-size: 1.3125rem;
    font-weight: 300;
    padding-top: 0.3125rem;
    margin-left: 1.1875rem;

    @include tablet {
      text-align: center;
      margin-left: 2.1875rem;
    }
  }

  &__paragraph {
    color: $main-text;
    font-size: 1.125rem;
    line-height: 1.8125rem;
    margin-left: 0.625rem;
    padding-top: 15px;

    @include tablet {
      line-height: 29px;
    }
  }


  &__link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
    padding-top: 63px;
    margin-left: 11px;

    @include tablet{
      flex-direction: row;
      justify-content: space-evenly;
      gap: 0;
    }
  }

  &__link {
    color: $main-text;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    padding: 0.8em 0.9em;
    background-color: #40444b;
    border-radius: 3px;
    box-shadow: 0 4px 16px -4px rgb(0 0 0 / 71%),
      0 1px 4px -1px rgb(0 0 0 / 14%);
      width: 119px;
      text-align: center;
      align-self: center;

    @include tablet {
      padding: 15px 21px 15px 21px;
      width: 131px;
    }

    &:hover {
      transform: scale(1.1);
      background-color: #4f525b;
    }
  }

  &__chevron-img {
    position: absolute;
    width: 26px;
    top: -2px;
    left: 77px;
  }

  &__highlight-text{
    color: #59C7B9;
  }
}
